<div class="m-0 text-center contacts">
    Акціонерне товариство
    ГАЛ-ЕКСПО®
    вул. В.Винниченка,30
    Львів, 79008, Україна
    тел: +380(322) 970627, 971369
    факс: +380(322) 971756
    E-mail:
    info@galexpo.lviv.ua
</div> 
<div class="author">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm">
                Copyright © 2020. All rights reserved
            </div>
            <div class="col-sm text-right">
                Design and development by 
                <a href="mailto:thrion1@gmail.com" class="nondecore">Sergiy Zinovyev</a>
            </div>
        </div>
    </div>
</div> 