.author{
    padding-bottom: 2px;
    font-size: 0.7rem;
    color: rgb(161, 161, 161);
    background-color: #343a40;
}

.nondecore{
    text-decoration: none;
}
a.nondecore:active,
a.nondecore {
  text-decoration: none;
  color: inherit;
}
a.nondecore:hover{
    color: white;  
}
 
.contacts{
    background-color: rgba(255, 255, 255, 0.9); /*transparent background*/
    box-shadow: 0px 0px 20px 15px rgba(255,255,255,1); /*blurred shadow*/
    border-radius: 0px;
    color: rgb(117, 117, 117);
}