.baza{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: white;
}
 
.baza-v{
    letter-spacing: 2px;
    line-height: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: rgb(150, 150, 150);
}

::ng-deep .customize-menu {
    position: relative;
    left: -84px;
    background: #343a40;
    color: #17a2b8 !important;
}

::ng-deep .customize-visitors {
    background: #343a40;
    color: #17a2b8 !important;
}

.mat-menu-item {
    color:  #17a2b8;
}
  
button.mat-menu-item{
    background-color: #343a40;
}

button.mat-menu-item:hover {
    background-color: black;
    color: #fff !important;
}