.my-container{
    width: 100%;
    /* border: solid 1px black; */
    padding: 10px 30px 30px 30px;
}

mat-form-field {
  width: 100%;
}
 
.data-group{
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
 
.expansion-panel{
    background-color: inherit;
    box-shadow: none;
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: 43px;
}

.vis-btn{
  margin-right: 15px;
  color: white;
}


.inf{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}

