.add-item {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.63);
    z-index: 190;
    display: flex;
    align-items: center;
    justify-content: center;
} 
  
.back-add-item-element{
    background-color:  #c1e5ff;
    margin: 30px;
    border-radius: 10px;
    height: 620px;
    z-index: 200;
}
  
.add-item-element{
    display: flex;
    border-radius: 10px;
}
  
.panel-add-item-element{
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding-left: 20px;
}
