<div class="container-fluid">

    <div class="dashboard-table">
        <app-dashboard-table
            [color]='color'
            [name]='name'
            [additionalColumns]='additionalColumns'
            [displayedColumns]='displayedColumns'
            [buttonColumnDirect]='buttonColumnDirect'
            [buttonClearFilter]='buttonClearFilter'
            (onClearFilter)='clearFilter()'
            (onAddColumn)='columnDirect($event, "add")'
            (onRemoveColumn)='columnDirect($event, "remove")'
            (onPassPage)='goToPage($event)'>
        </app-dashboard-table>
    </div>
          
    <div class=''>
        <app-baza-table 
            [visitors]='dataSource' 
            [color]='color'
            [filterData]='filterData'
            [clearFilterData]='clearFilterData'
            (filter)='filterController($event)'>
        </app-baza-table>
    </div>

</div>
